@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu Condensed", sans-serif;
}

.carousel-img img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.offer {
  background-image: url(./assets/pic/img-5_8dbc9088-a43a-4e32-b664-1a3681550de4.jpg);
  object-fit: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
  height: 600px;
}
